

{% extends 'base.html' %}
{% block content %}
    {%load static  %}
    <!--<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>-->

    <div class="content content-fixed" id="screen9">
        <div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
           {% for message in messages %}
                <div class="alert {{ message.tags }}">
                    <a class="close" href="#" data-dismiss="alert">×</a>

                    {{ message }}

                </div>
            {% endfor %}
            <div class="d-sm-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
                <div>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb breadcrumb-style1 mg-b-10">
                            <li class="breadcrumb-item"><a href="#">{{ main }}</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{ sub }}</li>
                        </ol>
                    </nav>
                </div>
                <div class="d-none d-md-block">

                </div>
            </div>

            <div class="row row-xs">
                <div class="col-md-10 op-3-f">
                    <div class="row">
                        {% for row in menusettingssub %}
                        <div class="col-md-3">
                            <div class="card">
                                <img src="{%static 'assets/img/placehold.jpg'%}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h6 class="card-title"><i data-feather="{{ row.icon }}" style="height: 15px"></i>&nbsp;{{ row.name }}</h6>
                                    <div class="text-center"><a href="{% url row.link.strip %}" class="btn btn-primary" style="width: 100%;">Go</a></div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                </div>
                <div class="col-md-2 mg-t-40 mg-lg-t-0" id="setting9" style="border-left:1px solid #d9d9d9;">
                    <div class="d-flex align-items-center justify-content-between mg-b-20">
                        <h6 class="tx-uppercase tx-semibold mg-b-0"><a href="{% url 'appsettings' %}"> <i data-feather="settings" style="height: 16px"></i> SETTINGS</a></h6>
                    </div>
                    {% include 'settingsmenu.html' %}
                </div>
            </div>
        </div>
    </div>






    </body>

{% endblock %}


