{% extends 'base.html' %}
{% block content %}
<div class="content content-fixed">
    <div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">


        <div class="d-sm-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
            <div>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb breadcrumb-style1 mg-b-10">
                        <li class="breadcrumb-item"><a href="#">Transaction</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Report</li>
                    </ol>
                </nav>

            </div>
            <div class="d-none d-md-block">

            </div>
        </div>

        <div class="row">

            <div class="card col-md-3 m-2">
                <div class="card-body">
                    <a href="{%url 'treport'}"><h5><i data-feather="star"></i> Transaction Report</h5></a>
                </div>
            </div>

        </div>

    </div>
</div>

{% endblock %}